<style>
    .page-dropdown {
        display: none;
    }

    .page-menu-item:hover .page-dropdown {
        display: block;
    }
</style>

<div class="navbar">
    <div class="menu-btn">
        <div class="menu-btn__lines"></div>
    </div>
    <ul class="menu-items">
        {{#each categories}}
        <li class="category-menu-item">
            <div class="first-item-menu-wrapper">
                <a href="{{url}}" id="catalogue_link" class="menu-item first-item expand-btn">{{name}}</a>
                <div class="svg-container svg-container-mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.465" height="7.5" viewBox="0 0 12.465 7.5">
                        <path id="Path_1" data-name="Path 1" d="M.367-7.867l4.965,5A1.379,1.379,0,0,0,6.25-2.5a1.246,1.246,0,0,0,.884-.366l4.965-5a1.25,1.25,0,0,0,.271-1.363A1.216,1.216,0,0,0,11.215-10H1.25a1.25,1.25,0,0,0-1.155.771A1.247,1.247,0,0,0,.367-7.867Z" transform="translate(0 10)" fill="#231f20"/>
                    </svg>
                </div>
            </div>
            {{#if children}}
            <div class="mega-menu sample cat-1" id ="catalogue_items">
                <div class="sub-menu-1">
                    <ul class="menu-items menu-children">
                        {{#each children}}
                        {{#if children}}
                        <li class="menu-item-list {{#if @index '!=' 0}}menu-item-non-first-index{{/if}}">
                            <a href="{{url}}"
                                class="menu-item first-item expand-btn menu-children-btn {{#if is_active}} activePage{{/if}}">{{name}}</a>
                            <div
                                class="mega-menu mega-menu-grandchildren sample cat-two {{#if @index '!=' 0}}hide-menu non-index-first {{else}} index-first{{/if}}">
                                <div class="menu-grandchildren">
                                    <div class="col image-col">
                                        {{#if image}}
                                        <section>
                                            <a href="{{url}}" aria-label="{{name}}" class="img-wrapper"><span
                                                    class="img"><img src="{{getImage image 'thumbnail'}}"
                                                        alt="{{name}}" /></span></a>
                                        </section>
                                        {{/if}}
                                    </div>
                                    <div class="col menu-col">
                                        <div class="mega-menu sample mega-menu-greatgrandchildren">
                                            <div class="menu-title-container">
                                                <section>
                                                    <div class="menu-title bold">{{name}}</div>
                                                </section>
                                            </div>
                                            <div class="content menu-greatgrandchildren-container">
                                                {{#each children}}
                                                <div class="col">
                                                    <section>
                                                        <a href="{{url}}"
                                                            class="menu-title {{#if is_active}} activePage{{/if}}">{{name}}</a>
                                                        <ul class="mega-links">
                                                            {{#each children}}
                                                            <li><a href="{{url}}"
                                                                    class="menu-item {{#if is_active}} activePage{{/if}}">{{name}}</a>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </section>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{else}}
                        <li><a href="{{url}}"
                                class="menu-item first-item {{#if is_active}} activePage{{/if}}">{{name}}</a></li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/if}}
        </li>
        {{/each}}
        {{#each pages}}
        <li class="page-menu-item  {{#if children}}expand-btn{{/if}}"><a href="{{#if children}}#{{else}}{{url}}{{/if}}" aria-label="{{name}}"
                class="menu-item first-item {{#if name '==' ../page.title}} activePage{{/if}}"> {{name}}</a>
            {{#if children}}
            <ul class="page-dropdown">
                {{#each children}}
                <li class="page-sub-menu-item">
                    <a class="page-sub-menu-action {{#if name '==' ../page.title}} activePage{{/if}}" href="{{url}}">
                        {{name}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                    </a>
                    </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>