---
category:
shop_by_price: true
products:
limit: {{theme_settings.categorypage_products_per_page}}
new:
    limit: {{theme_settings.homepage_new_products_count}}
featured:
    limit: {{theme_settings.homepage_featured_products_count}}
top_sellers:
    limit: {{theme_settings.homepage_top_products_count}}
---

{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
{{#if pagination.category.previous}}
<link rel="prev" href="{{pagination.category.previous}}">
{{/if}}
{{#if pagination.category.next}}
<link rel="next" href="{{pagination.category.next}}">
{{/if}}
{{/partial}}

{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

{{> components/custom/sub-categories categoryId = category.id}}



<div class="page">
    <div class="container">
      {{#if category.faceted_search_enabled}}
      <aside class="page-sidebar" id="faceted-search-container">
          {{> components/category/sidebar}}
      </aside>
      {{else if category.subcategories}}
      <aside class="page-sidebar" id="faceted-search-container">
          {{> components/category/sidebar}}
      </aside>
      {{else if category.shop_by_price}}
      {{#if theme_settings.shop_by_price_visibility}}
      <aside class="page-sidebar" id="faceted-search-container">
          {{> components/category/sidebar}}
      </aside>
      {{/if}}
      {{/if}}
      <div class="page-content" id="product-listing-container">
          {{> components/category/product-listing}}
          {{{region name="category_below_content"}}}
      </div>
    </div>
  </div>

<section class="category-description-container">
    <div class="container">
        <div class="grid grid-col-2-desktop category-desciption-wrapper">
            <div class="grid-item category-desc">
                <div class="title-container">
                    <h2>{{category.name}}</h2>
                </div>
                <div class="text-container">
                    <p>{{{category.description}}}</p>
                </div>
            </div>
            <div class="grid-item category-img-container img--container">
                {{#if category.image}}
                <div class="img-holder cat-image-wrapper">
                    <img src="{{getImage category.image 'thumbnail'}}" class="cat-img" />
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
{{{region name="multicolumn_category_3column_region--global"}}}
{{#if products.featured}}
{{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
{{/if}}
{{{region name="multicolumn_category_4column_region--global"}}}
{{{region name="hero_image_category_region--global"}}}





{{/partial}}
{{> layout/base}}
