---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> components/custom/product/main-product}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        <div class="related-product-and-desciption-container">
            <div class="container">
                <div class="rpd-wrapper grid grid-col-2-desktop">
                    <div class="produt-description-container grid-item">
                        {{#if product.description}}
                        <div class="title-container">
                            <h2>{{lang 'products.description'}}</h2>
                        </div>
                        <div class="product-description">
                            {{{product.description}}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="related-product-container grid-item">
                        <div class="product-common-info">
                         {{{region name="product_common_info_region--global"}}}
                        </div>
                        {{#if product.related_products}}
                        <div class="rp-wrapper">
                        {{> components/custom/product/related-product}}
                        </div>
                        {{/if}}
                        <div class="product-sale-banner">
                         {{{region name="product_sale_banner_region--global"}}}
                        </div>
                    </div>
                </div>
             </div>
        </div>
        {{#if product.similar_by_views}}
        <div class="customer-also-brought-container">
            <div class="cab-wrapper">
                {{> components/products/carousel products=product.similar_by_views columns=5 list="Customers Also Viewed"}}
            </div>
        </div>
        {{/if}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
