<section class="sub-menu-container">
    <div class="container">
        {{#each categories }}
        {{#each children }}
        {{#if id '===' categoryId}}
        {{name}}
        {{#each children }}
        {{#if children }} 
        <div class="subcategories-container">
            <div class="title-container">
                <h2>{{name}}</h2>
            </div>
            <div class="subcategories-link">
                <a href="{{url}}" class="cat-link">View All</a>
            </div>
            {{#if children}}
            <div class="grid grid-col-6-desktop subcategories-children-container">
                {{#each children}}
                <div class="sub-item grid-item">
                    <div class="card-container card">
                        <div class="card-image-container">
                            <a href="{{url}}" aria-label="{{name}}">
                                <img src="{{getImage image 'thumbnail'}}" alt="{{name}}">
                            </a>
                        </div>
                        <div class="card-body">
                            <span class="bold">{{name}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{else}}
        <div class="subcategories-container">
            <div class="title-container">
                <h2>{{name}}</h2>
            </div>
            <div class="subcategories-link">
                <a href="{{url}}" class="cat-link">View All</a>
            </div>
        </div>
        {{/if}}
        {{/each}}
        {{/if}}
        {{/each}}
        {{/each}}
    </div>
</section>