//responsive css

@media all and (max-width: 1600px) {
    
    //header
    .header {
        .header-container {
            gap: unset;
            .logo-container {
                a {
                    .header-logo-image-container {
                         width: 215px;
                    }
                }
            }
             .main-menu-container {
                width: 60%;
                .icon-menu-container {
                    .navUser-section {
                        .navUser-item {
                            .header-icon-container {
                                padding: 15px 20px;
                                .svg-container {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            } 

        .nav-container {
            .navUser {
                .notice-board-container {
                    p {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 29px;
                    }
                    .organization-details-container {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
         }
    }
    
    //megamenu navbar
    
    .navbar { 
        .menu-items { 
            li { 
                &:not(:last-child) {
                    margin-right: 10px;
                }
                .mega-menu { 
                    .sub-menu-1  { 
                        ul.menu-items {
                            .menu-item-list {
                                .mega-menu-grandchildren.cat-two {
                                    padding: 40px 0 60px;
                                        overflow-y: scroll;
                                        height: 100%;
                                        min-height: 400px;
                                        overflow-x: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .navbar ul li:not(:last-child) {
        margin-right: 10px;
    }
    .navbar ul li a {
        font-size: 16px;
    }



    //home page 

    //image-banner-container
   
    .image-banner-container {
        padding: 60px 0;
        .hero-image {
            .hero-text {
                h2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .hero-content-container {
                    .button-container {
                        margin-top:25px;
                    }
                }
            }
        }
        .hero-banner-image-container {
            .hero-content-container {
                .hero-img-container{
                    margin-top: 20px;
                }
            }
        }
    }

    //multi column 
    [data-content-region="multicolumn_region"] .multicolumn-section {
        &:before, &:after {
            background-size: 440px;
            width: 456px;
            height: 230px;
        }
        
    }
    //shipping policy section
    .shipping-poliy-container {
        padding: 60px 0 100px;
    }
}
@media all and (max-width: 1399px) {
    
    
    //globalcss
    h2 {
        font-size: 40px;
        line-height: 48px;
    }
    .btn-primary, .button--primary {
        padding: 15px 25px 12px;
        font-size: 18px;
        line-height: 26px;
    }
    .text-container .content-container {
        margin-bottom: 30px;
    }
    .text-container .content-container p:not(:last-child) {
        margin-bottom: 20px;
    }
    //banner 
    .heroCarousel-slide .heroCarousel-content .heroCarousel-title {
        font-size: 54px;
        line-height: 64px;
    }

    //header 

    .header {
        .header-container {
            .main-menu-container {
                .icon-menu-container {
                    .navUser-section {
                        .header-icon-container {
                            .svg-container {
                                svg {
                                    width: 18px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //home page
    //multicolumn
    .multicolumn-section {
        .column-container {
            .column-item {
                .card-container {
                    padding: 25px;
                }
            }
        }
    }
    
}
@media all and (max-width: 1199px) {
    //gobal 
    h2 {
        font-size: 32px;
        line-height: 38px;
    }
    h3 {
        font-size: 28px;
        line-height: 34px;
    }
    
    //header
    
    .header {
        .nav-container {
            .navUser {
                padding: 5px 0 4px;
                position: relative;
                right: auto;
                top: auto;
                transform: none;
                z-index: 50;
                .notice-board-container {
                    width: 100%;
                    text-align: center;
                }
                .organization-details-container {
                    width: 100%;
                    justify-content: center;
                        
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .phone-number {
                        width: auto;
                    }
                    .address {
                        width: auto;
                    }
                }
            }
        }
        .header-container {
            .search-container {
                width: auto;
            }
            .main-menu-container {
                width: auto;
            }
        }
    }
    .grid {
        &.grid-col-1-tablet {
            margin: -10px;
            .grid-item {
                width: 100%;
                padding: 10px;
            }
        }
        &.grid-col-2-tablet {
            margin: -10px;
            .grid-item {
                width: 50%;
                padding: 10px;
            }
        }
        &.grid-col-3-tablet {
            margin: -10px;
            .grid-item {
                width: 33.33%;
                padding: 10px;
            }
        }
        &.grid-col-4-tablet {
            margin: -10px;
            .grid-item {
                width: 25%;
                padding: 10px;
            }
        }
    }

    //navigation
    //scss for menu 
    //nav mega menu mobile navigation
    .navbar {
        .menu-items {
            li {
                &:not(:last-child) {
                    margin-right: 0;
                }
                .menu-item{
                    &.open {
                        
                    }
                }
                .mega-menu {
                            &.cat-1.open {
                                .sub-menu-1 {
                                    .menu-items {
                                        &.menu-children {
                                            position: relative !important;
                                            background: #ffffff;
                                            width: 100%;
                                            top: 0;
                                            padding-left: 10px;
                                            transform: unset;
                                            .menu-item-list {
                                                .mega-menu-grandchildren {
                                                    transform: unset;
                                                    .menu-grandchildren {
                                                            width: 100%;
                                                            flex-wrap: wrap;
                                                            .col {
                                                                &.image-col {
                                                                    width: 100%;
                                                                    img {
                                                                        width: 100%;
                                                                    }
                                                                }
                                                                &.menu-col {
                                                                    width: 100%;
                                                                    .mega-menu-greatgrandchildren {
                                                                            overflow: visible;
                                                                            transform: unset;
                                                                            margin-left: 0;
                                                                            .col {
                                                                                width: calc(50% - 16px);
                                                                            }
                                                                    }
                                                                }
                                                            }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-menu-1 {
                                ul.menu-items {
                                    .menu-item-list {
                                        .mega-menu-grandchildren {
                                            .menu-grandchildren {
                                                .col {
                                                    &.image-col {
                                                        img {
                                                            max-width: 250px;
                                                        }
                                                    }
                                                    &.menu-col {
                                                        .menu-title-container {
                                                            .menu-title {
                                                                margin-left: 20px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
            }
        }
    }
    .menu-btn.open {
        z-index: 502;
    }
    .expand-btn:after {
        right: 20px;
    }

    //home page 
    //banner
    .heroCarousel-slide .heroCarousel-content .heroCarousel-title {
        font-size: 44px;
        line-height: 58px;
    }
    //multicolumn 
    .multicolumn-section {
        padding: 80px 0;
    }
    [data-content-region="multicolumn_region"] .multicolumn-section:before {
        top: 20px;
    }
    [data-content-region="multicolumn_region"] .multicolumn-section:after {
        bottom: 20px;
    }
    //banner-section
    .image-banner-container .hero-image {
        padding: 40px 40px 0;
    }
    .image-banner-container {
        .hero-banner-image-container {
            .hero-content-container {

                .hero-img-container{
                    margin-top: 0px;
                    padding-bottom: 0;
                }
            }
        }
    }

    //shipping-section
    .shipping-poliy-container {
        padding: 30px 0 60px;
    }
    
    .shipping-poliy-container .spc-content {
        padding: 20px 30px 30px;
    }



    //footer 
    .footer-logo-container img {
        max-width: 200px;
    }

}

@media all and (max-width: 992px) {

    //global
    body {
        padding-top: 0;
    }
    .title-container {
        margin-bottom: 20px;
    }
    .card-body {
        font-size: 20px;
        line-height: 27px;
    }

    //header 
    .header {
        height: auto;
        .header-container {
            padding: 15px 0;
            .logo-container {
                .header-logo__link {
                    width: 100%;
                }
                a {
                    .header-logo-image-container {
                        width: 150px;
                        .header-logo-image {
                            height: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
        .nav-container {
            .navUser {
                padding: 8px 0 6px;
                .notice-board-container p, .organization-details-container p {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    //home page 
    //banner 
    .heroCarousel-slide .heroCarousel-content  {
        .heroCarousel-title {
            font-size: 34px;
            line-height: 44px;
        }
        .heroCarousel-description  {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 32px;
        }
    }
    .heroCarousel .slick-prev {
        left: 30px;
    }
    .heroCarousel .slick-next {
        right: 30px;
    }
    //multicolumn region
    [data-content-region="multicolumn_region"] {
        .multicolumn-section{
            &:after,&:before {
                width: 360px;
                height: 160px;
                background-size: 300px;
            }
        
        }
    }

    .multicolumn-section {
        padding: 60px 0;

    .column-container {
        .column-item {
            .card-container {
                padding: 40px 30px;
                text-align: center;
                .card-icon-container {
                    .icon-img-wrapper {
                        margin-bottom: 15px;
                    }
                }
                .card-body {
                    .card-description {
                        margin-top: 8px;
                        p {
                            font-size:18px;
                            line-height: 28px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    }

    //text-with-image 
    .text-with-image-column-container, .text-with-image-container.grid {
        
        margin: -15px;
        flex-wrap: wrap;
        .img--container {
            padding: 15px;
            width: 100%;
        }
        .text-container {
            padding: 15px;
            width: 100%;
        }
    }
    // featured category section
    .featured-category-section {
        padding: 50px 0 80px;
        .categories-container {
            .categories-item {
                .card {
                    padding: 15px 8px 25px;
                    .card-image-container {
                        height: 170px;
                    } 
                }
            }
        }
    }
    //home new products
    [data-content-region="home_below_new_products"] {
        padding: 60px 0 0px;
    }
    [data-content-region="image_and_text_left_alignment"], [data-content-region="about_us_image_with_text_region"] {
        padding: 40px 0 50px;
    }

    //image banner 

    .image-banner-container .hero-image .hero-text h2 {
        display: -webkit-box;
        -webkit-line-clamp: unset;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    //shipping section


    .shipping-poliy-container .spc-content {
        padding: 20px 15px 30px;
    }
}
@media all and (max-width: 767px) {
    section.page .page-heading {
        margin: 0 auto 10px auto;
        padding: 0 15px;
        font-size: 34px;
        line-height: 40px;
    }
    h1 {
        font-size: 34px;
        line-height: 40px;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
    h3 {
        font-size: 26px;
        line-height: 32px;
    }
    .iat-sub-title {
        font-size: 16px;
        line-height: 36px;
    }
    .btn-primary, .button--primary {
        padding: 12px 20px 8px;
        font-size: 16px;
        line-height: 24px;
    }
    .grid {
        &.grid-col-1-mobile {
            margin: -5px;
            .grid-item {
                width: 100%;
                padding: 5px;
            }
        }
        &.grid-col-2-mobile {
            margin: -5px;
            .grid-item {
                width: 50%;
                padding: 5px;
            }
        }
        &.grid-col-3-mobile {
            margin: -5px;
            .grid-item {
                width: 33.33%;
                padding: 5px;
            }
        }
        
    }
    .container {
        padding: 0 20px;
    }
    body {
        font-size: 16px;
        line-height: 26px;
    }
    //header
    [data-sub-layout="ff3e9196-7110-4291-b167-573a2341b0b4"] {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .header {
        .nav-container {
            .navUser {
                .notice-board-container {
                    margin-bottom: 5px;
                    p {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .organization-details-container {
                    flex-wrap: wrap;
                    p {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    .phone-number {
                        &:after {
                            top: 2px;
                        }
                    }
                }
            }
        }
        .header-container {
            .search-container {
                display: none;
            }
            .main-menu-container {
                .icon-menu-container {

                    .navUser-section--alt {
                        margin-left: 0;
                    }
                    .navUser-section{
                        .navUser-item {
                            .header-icon-container {
                                padding: 10px 15px;
                                .svg-container {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }


    //navigation
    .navbar .menu-items {
        width: 100%;
    }
    .navbar {
        padding: 10px;
    }
    .menu-btn.open {
        z-index: 502;
        position: absolute;
        top: -40px;
        right: 0;
    }
    .menu-btn.open .menu-btn__lines {
        z-index: 999;
    }
    .menu-btn.open .menu-btn__lines::before, .menu-btn.open .menu-btn__lines::after {
        background: #000;
    }
    .menu-items li:first-child {
        margin-top: 80px;
    }
    body.overflow {
        header {
            .header-container {
                .search-container {
                    display: block;
                    position: absolute;
                    top: -60px;
                    left: 0;
                    z-index: 999;
                    .form-input {
                        background-color: #ffffff00;
                    }
                }
            }
        }
    }




    //home page 
    //banner 
    .heroCarousel-slide {
        .heroCarousel-content {
            width: 100%;
            padding: 0.78571rem 1.5rem 2rem;
            .heroCarousel-title, .heroCarousel-description {
                color: #1b75bc;
            }
        }
    }
    .heroCarousel {
        .slick-next, .slick-prev {
            background-color: #dbdbdb;
        }
        .slick-next {
            right: 0px;
        }
        .slick-prev {
            left: 0px;
        }  
        
    }

    //featured section

    .featured-category-section {
        padding: 40px 0 60px;
    }

    //multi column section

    .multicolumn-section {
        .column-container {
            .column-item {
                .card-container {
                    text-align: center;
                    .card-body {
                        .card-description {
                            p {
                                font-size:16px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
    [data-content-region="multicolumn_region"] .multicolumn-section:after, [data-content-region="multicolumn_region"] .multicolumn-section:before {
        width: 100%;
        height: 160px;
        background-size: 100%;
    }

    //text with image section

    .text-with-image-container.image-align-right {
        .text-container {
            .button-container {
                margin-bottom: 10px;
            }
        }
    }

    //brand section
    .brand-logos-container a .logo-content-container  {
        .logo-title {
            font-size: 20px;
            line-height: 32px;
            margin-top: 8px;
            word-break: break-word;
        }
        .logo-content {
            display: none;
        }
    }
    [data-sub-layout="e26e3463-2be4-4bcb-bbb8-90cb8d296c08"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    

    //image banner section 
    .image-banner-container {
        h2 {
            font-size: 18px;
            line-height: 26px;
        }
        
        .hero-image {
            padding: 30px 20px 0;
            .hero-text {
                .hero-content-container {
                    .hero-content {
                        p {
                            &:not(:first-child) {
                                margin-left: 10px;
                            }
                            &:has(strong) {
                                font-size: 18px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
        
    }

    //shipping policy  section

    h2.logo-design {
        
        &:after {
            right: -30px;
        }
        &:before {
            left: -30px;
        }
        &:after, &:before {
            width: 20px;
            height: 20px;
            background-size: 20px;
        }
    }
}

@media all and (max-width: 350px) {
    //side design
    h2.logo-design {
        &:after, &:before {
            display: none;
        }
    }
}